body {
    background: linear-gradient(to right, #ef4f79, #dc76d9); /* Gradient */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
  }
  
  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  